@model GastoEnergetico.ViewModels.Gastos.IndexViewModel
@using GastoEnergetico.ViewModels.Gastos

@{
    ViewData["Title"] = "Home Page";
}


<h2>Listagem</h2>

<a href="/Gasto/Adicionar">Adicionar</a>

<table>
    <thead>

        <tr>
            <th>Data</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>É Recorrente?</th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>

        @foreach (Gastos gastos in Model.Gastos)
        {
            <tr>
                <td>@gastos.Data</td>
                <td>@gastos.Categoria</td>
                <td>@gastos.Descricao</td>
                <td>@gastos.Valor</td>
                <td>@gastos.IsRecorrente</td>
                <td>
                    <a href="/Gasto/Editar/@gastos.id">Editar</a>
                    <a href="/Gasto/Remover/@gastos.id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>